/* Sidenav */
.sidenav {
    background-color: #fff;
    height:100%;
    color: #333;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border:1px solid gray;
    height: 90%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: absolute;
    /* top: 70px; */
    width: 250px;
    height:600px;
    box-shadow: 0 1px 3px rgba(70, 10, 174, 0.1), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.sidenav:hover {
    box-shadow: 0 14px 28px rgba(36, 6, 133, 0.8), 0 10px 10px rgba(0,0,0,0.5);
  }

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.url, hr {
    text-align: center;
}

.url hr {
    margin-left: 20%;
    width: 60%;
}

.url a {
    color: #818181;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
}

.url a:hover, .url .active {
    background-color: #e8f5ff;
    border-radius: 28px;
    color: #000;
    margin-left: 14%;
    width: 65%;
}






